.wrapper {
  background-color: var(--theme);
}
.holder {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  padding: 14px 0;
}
.holder p {
  text-align: center;
  font-size: 14px;
  color: var(--dark);
}
