
.holder button:first-child{
    left: 30px;
    z-index: 10 ;
    top: 48%;
}
.holder button::before{
    font-size: 30px;
    color: var(--theme);
}
.holder button:nth-child(3){
    right: 30px;
    z-index: 10 ;
    top: 48%;
}
.image_wrapper{
    position: relative;
    aspect-ratio: 2/1;
}
.holder img{
    width: 100%;
    height: 100%;
}
@media screen and (min-width: 992px) {
    .image_wrapper{
        position: relative;
        aspect-ratio: 3/1;
    }
  }