.overlay{
  background-color: var(--modal-bg);
  inset: 0;
  position: fixed;
  z-index: 11;
  height: 100vh;
}
.wrapper {
  background-color: var(--white);
  position: fixed;
  z-index: 11;
  top: 98px;
  width: 50%;
  height: 100vh;
}
.holder {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
.holder ul {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 20px;
  flex-direction: column;
 
}
.holder ul li {
  list-style: none;
}
.holder ul li a {
  text-decoration: none;
  color: var(--dark);
  transition: 0.3s;
  font-weight: 1rem;
  font-weight: 500;
  letter-spacing: 0.3px;
}
.holder ul li:hover a {
  color: var(--dark);
  transition: 0.3s;
}

@media screen and (min-width: 992px) {
  .wrapper {
    background-color: var(--theme);
    position: sticky;
    z-index: 11;
    top: 98px;
    z-index: 12;
    width: 100%;
    height: auto;
  }
  .holder ul {
     flex-direction: row;
     justify-content: center;
     align-items: center;
  }
  .overlay{
   display: none;
  }
}